/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Product Sans';
    src: url('./assets/font/ProductSans-Regular.ttf');
}
.ProductSans{
    font-family: 'Product Sans', sans-serif;
}